{% extends 'header.html' %}

{% block title %}Breeder{% endblock %}

{% block header %}Breeder{% endblock %}

{% block content %}
<form method="post" class="my-4" id="breederForm">
    <!-- Update the dropdowns to use Datalist -->
    <div class="mb-3">
        <label for="dropdown1" class="form-label">Select the First parent:</label>
        <img id="imageContainer1" src="" alt="" style="max-width: 100px; max-height: 200px;">
        <select name="dropdown1" id="dropdown1" class="form-control">
            <option selected value=""></option>
            {% for index, item in dict_paldeck.items() %}
                <option value="{{ index }}" data-img="{{ item['ImageUrl'] }}">{{ item['Name'] }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-3">
        <label for="dropdown2" class="form-label">Select the Second parent:</label>
        <img id="imageContainer2" src="" alt="" style="max-width: 100px; max-height: 200px;">
        <select name="dropdown2" id="dropdown2" class="form-control">
            <option selected value=""></option>
            {% for index, item in dict_paldeck.items() %}
                <option value="{{ index }}" data-img="{{ item['ImageUrl'] }}">{{ item['Name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    {% if child_result %}
        <p>Child Result: {{ child_result['Name'] }}</p>
        <p>Child Result: {{ child_result['ImageUrl'] }}</p>
    {% endif %}

</form>

<script>
    // Use JavaScript to update images based on selected option for the first dropdown
    document.getElementById('dropdown1').addEventListener('change', function() {
        updateImage('dropdown1', 'imageContainer1');
    });

    // Use JavaScript to update images based on selected option for the second dropdown
    document.getElementById('dropdown2').addEventListener('change', function() {
        updateImage('dropdown2', 'imageContainer2');
    });

    function updateImage(dropdownId, containerId) {
        var selectedOption = document.getElementById(dropdownId).value;
        var imageContainer = document.getElementById(containerId);
        
        // Get the image URL from the data-img attribute
        var imageUrl = document.querySelector('#' + dropdownId + ' option[value="' + selectedOption + '"]').getAttribute('data-img');
        
        // Update the image container
        imageContainer.src = imageUrl;
    }
</script>

{% endblock %}
