{% extends 'header.html' %}

{% block title %}Breeder{% endblock %}

{% block header %}Breeder{% endblock %}

{% block content %}
<form method="post" class="my-4" id="breederForm">
    <!-- Update the dropdowns to use Datalist -->
    <div class="mb-3">
        <label for="dropdown1" class="form-label">Select the First parent:</label>
        <input list="parentsList" name="dropdown1" id="dropdown1" class="form-control" autocomplete="on" oninput="updateDisplayName(this)">
        <datalist id="parentsList">
            {% for index, item in dict_paldeck.items() %}
                <option value="{{ index }}">{{ item['Name'] }}</option>
            {% endfor %}
        </datalist>
    </div>
    
    <div class="mb-3">
        <label for="dropdown2" class="form-label">Select the Second parent:</label>
        <input list="parentsList" name="dropdown2" id="dropdown2" class="form-control" autocomplete="on" oninput="updateDisplayName(this)">
        <datalist id="parentsList">
            {% for index, item in dict_paldeck.items() %}
                <option value="{{ index }}">{{ item['Name'] }}</option>
            {% endfor %}
        </datalist>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    {% if child_result %}
        <p>Child Result: {{ child_result }}</p>
    {% endif %}

</form>

<script>
    function updateDisplayName(input) {
        var selectedOption = input.value;
        var dataList = input.list;

        // Find the selected option in the datalist using label
        var option = Array.from(dataList.options).find(option => option.label === selectedOption);

        // Update the input field with the displayed name
        if (option) {
            input.value = option.label;
        }
    }
</script>


{% endblock %}
