{% extends 'header.html' %}

{% block title %}Calculator{% endblock %}

{% block header %}Calculator{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% if result is defined %}
        <p class="alert alert-success">The sum is: {{ result }}</p>
    {% endif %}

    {% if my_list is defined %}
        <ul class="list-group">
            {% for item in my_list %}
            <li class="list-group-item d-flex align-items-center">
                <img src="{{ item.image_url }}" alt="{{ item.name }}" style="max-width: 50px; max-height: 50px;">{{ item.name }}
            </li>
            
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
